/* 
-------------
RESET
-------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
------------
COMMON
----------*/

 div{
    display: flex;
    justify-content: center;
 }

 .box{
    padding: 50px 0;
 }

 .border{
    border: dashed black;
    border-width: 2px;
 }

 footer{
    background-color: #23272a;
 }

 /* 
 -----------
 HEADER
 ------------ */

 .background-nav{
    background-color: #add8e6;
    margin-top: 0px;
    justify-content: space-between;
 }

 nav{
    display: flex;
    width: 70%;
    justify-content: space-between;
 }

 .nav-bar{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #add8e6;
 }
 nav div{
    margin: 0px;
    background-color: #daa520;
    border: dashed black;
    border-width: 2px;
 }

 .logo{
    justify-content: flex-start;
    width: 20%;
    padding-left: 10px;
 }

 .link{
    text-align: center;
    flex-grow: 3;
 }

 .login{
    justify-content: flex-end;
    width: 20%;
    
 }

 .jumbotron{
    background-color: #ee82ee;
 }

 .jumbo-debug{
    height: 400px;
    width: 60%;
    margin: 55 auto;
 }

 .j-box{
    height: 500px;
    background-color: #00008b;
 }

 /* 
 ----------
 MAIN
 -----------
  */

.main-box{
   height: 500px; 
   width: 100%;
}

.center{
    width: 60%;
}

.blue-box{
    background-color: #1e90ff;
    width: 70%;
}

.pink-box{
    background-color: #ffc0cb;
    width: 30%;
}

.grey{
    background-color: #d3d3d3;
}


.green-box{
    background-color: #228b22;
    width: 60%;
    height: 900px;
}

.footer-box{
    padding-top: 10px;
    padding-bottom: 40px;
    height: 580px;
    width: 100%
}

.lb-box{
    background-color: #20b2aa;
    width: calc(100%/6);
    border: dashed white;
    border-width: 2px;
}

.r-box{
    background-color: #f08080;
    width: calc(100%/6*2)
}
hr{
   height: 2px;
   background-color: white; 
    border: none;
}

.footer-end{
    padding-top: 30px;
    height: 113px;
    display: flex;
}

.last-footer{
   height: 80px; 
   background-color: #7fffd4;
   width: 60%;
   justify-content: space-between;
   align-items: center;
}

.f-logo, .f-button{
    background-color: #ffb6c1;
    padding: 5px;
}