/* 
-------------
RESET
-------------*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* 
------------
COMMON
----------*/

div{
    display: flex;
    justify-content: center;
 }

 .box{
    padding: 50px 0;
 }

 .border{
    border: dashed black;
    border-width: 2px;
 }

 footer{
    background-color: #23272a;
 }

 .container{
   margin: 0 auto;
 }

 .container.big{
   max-width: 1200px;
 }

 .container.small{
   max-width: 900px;
 }

 /* 
 -----------
 HEADER
 ------------ */

 .background-nav{
    background-color: #add8e6;
 }

 header .header-top .header-bar{
   display: flex;
 }

 header .header-top .header-logo,
 header .header-top .header-login{
   width: 20%;
 }

.header-bar{
    width: 70%;
    justify-content: space-between;
    background-color: #daa520;
 }

 .header-top{
    padding: 15px 0;
    background-color: #add8e6;
 }
 nav div{
    margin: 0;
    border: dashed black;
    border-width: 2px;
 }
 
 .header-logo{
    justify-content: flex-start;
    padding-left: 10px;
 }

 .header-top .header-bar .header-link ul{
   list-style-type: none;
   display: flex;
   gap: 10px;
   justify-content: center;
 }
 .header-link{
    text-align: center;
    flex-grow: 3;
 }

 .header-login{
    justify-content: flex-end;
    padding-right: 10px;    
 }

 .jumbotron{
    background-color: #ee82ee;
    width: 60%;
    margin: 55 0;
 }

 .jumbo-debug{
    height: 400px;
 }

 .header-bottom{
    height: 500px;
    background-color: #00008b;
 }

 /* 
 ----------
 MAIN
 -----------
  */

.main-box{
   height: 500px; 
   width: 100%;
}

.center{
    width: 60%;
}

.col-big{
    background-color: #1e90ff;
    width: 70%;
}

.col-small{
    background-color: #ffc0cb;
    width: 30%;
}

.grey{
    background-color: #d3d3d3;
}


.col-full{
    background-color: #228b22;
    width: 60%;
    height: 900px;
}

/* 
-------------
FOOTER
------------- */

.footer-box{
    padding-top: 10px;
    padding-bottom: 40px;
    height: 580px;
    width: 100%
}

.lb-box{
    background-color: #20b2aa;
    width: calc(100%/6);
    border: dashed white;
    border-width: 2px;
}

.r-box{
    background-color: #f08080;
    width: calc(100%/6*2)
}
hr{
   height: 2px;
   background-color: white; 
    border: none;
}

.footer-end{
    padding-top: 30px;
    height: 113px;
    display: flex;
}

.last-footer{
   height: 80px; 
   background-color: #7fffd4;
   width: 60%;
   justify-content: space-between;
   align-items: center;
}

.f-logo, .f-button{
    background-color: #ffb6c1;
    padding: 5px;
}